* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;

}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}
img {
    max-width: 120px;
    height: auto;

}

.navmenu {

}
